*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  font-family: "DM Sans", system-ui;
  font-size: 18px;
}

.box {
  margin-bottom: 2em;
  border-radius: 8px;
  overflow: hidden;
}
.box-padding {
  padding: 0.8em;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
  max-width: 350px;
}
.card__text {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1;
}
.card__social {
  padding: 2em;
  background-color: var(--purple-500);
  text-align: center;
  color: var(--white);
}
.card__social-title {
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 1;
}
.card__social-title--color {
  color: var(--yellow-500);
}
.card__social-title--italic {
  font-style: italic;
}
.card__social-stars {
  margin-top: 1.5em;
  margin-bottom: 0.2em;
  width: 70%;
}
.card__social-text {
  font-weight: 200;
}
.card__platforms {
  background-color: var(--white);
}
.card__platforms-text {
  margin-top: 0.8em;
}
.card__platforms-img {
  width: 100%;
}
.card__schedules {
  padding-bottom: 0;
  background-color: var(--yellow-500);
}
.card__schedules-img {
  margin-top: 1em;
  width: 70%;
  display: block;
}
.card__graph {
  background-color: var(--purple-100);
  text-align: center;
}
.card__graph-title {
  margin: 0 0.5em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-size: 2.1rem;
  font-weight: 500;
}
.card__graph-img {
  width: 100%;
}
.card__graph-text {
  margin: 1em 1em;
  font-size: 1.6rem;
  font-weight: 300;
}
.card__followers {
  padding: 1.3em;
  background-color: var(--purple-500);
  text-align: center;
}
.card__followers-img {
  width: 80%;
}
.card__followers-text {
  margin: 0 1em;
  margin-top: 1em;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1;
  color: var(--white);
}
.card__audience {
  padding: 1.3em;
  background-color: var(--yellow-100);
}
.card__audience-title {
  font-size: 4rem;
  font-weight: 500;
}
.card__audience-text {
  margin: 0.8em 0;
  font-weight: 300;
}
.card__audience-img {
  width: 60%;
}
.card__create {
  padding: 1.5em;
  background-color: var(--yellow-100);
}
.card__create-title {
  margin-bottom: 0.8em;
  font-size: 2.7rem;
  font-weight: 500;
  line-height: 1;
}
.card__create-title--span {
  color: var(--purple-500);
  font-style: italic;
}
.card__create-img {
  width: 60%;
}
.card__ai {
  padding: 1.1em;
  background-color: var(--yellow-500);
}
.card__ai-title {
  margin-bottom: 1em;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 0.9;
}
.card__ai-img {
  width: 70%;
}

@media (min-width: 992px) {
  .box {
    margin-bottom: 0;
  }
  .card {
    width: 800px;
    height: 600px;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 21%) 9% 20% 16% 13%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }
  .card__text {
    font-size: 2rem;
    font-weight: 500;
  }
  .card__social {
    padding: 1.3em;
    grid-area: 1/2/3/4;
  }
  .card__social-title {
    margin-top: 0.2em;
    font-size: 3.8rem;
  }
  .card__social-stars {
    margin-top: 0.5em;
    width: 45%;
  }
  .card__social-text {
    font-size: 1.2rem;
  }
  .card__platforms {
    grid-area: 3/2/5/3;
  }
  .card__platforms-img {
    width: 150%;
  }
  .card__platforms-text {
    margin: 0 0.5em;
    margin-top: 0.3em;
  }
  .card__schedules {
    grid-area: 3/3/5/4;
    position: relative;
  }
  .card__schedules-img {
    position: absolute;
    width: 85%;
    left: 50%;
    margin-top: 0.8em;
    transform: translateX(-50%);
  }
  .card__graph {
    grid-area: 1/4/5/5;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    flex-direction: column;
    padding: 1em;
    padding-right: 0.5em;
  }
  .card__graph-title {
    margin: 0;
    font-size: 2.1rem;
    font-weight: 500;
  }
  .card__graph-img {
    margin-top: 0.3em;
    padding-right: 2em;
    width: 189%;
    max-height: 60%;
  }
  .card__graph-text {
    margin: 0;
    margin-right: 2.5em;
    font-size: 1.2rem;
    font-weight: 300;
  }
  .card__followers {
    grid-area: 5/3/7/5;
    padding: 0.7em;
    display: flex;
    justify-content: space-evenly;
  }
  .card__followers-text {
    margin: 0;
    margin-left: 0.3em;
    align-self: center;
    width: 75%;
    text-align: left;
    font-size: 2.5rem;
  }
  .card__audience {
    grid-area: 5/2/7/3;
    padding: 0.7em;
  }
  .card__audience-text {
    margin-bottom: 0.5em;
    font-size: 1.4rem;
  }
  .card__audience-img {
    margin-top: 1.2em;
    width: 80%;
  }
  .card__create {
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-area: 1/1/4/2;
    padding: 1em;
  }
  .card__create-title {
    font-size: 2.8rem;
  }
  .card__create-img {
    width: 100%;
  }
  .card__ai {
    grid-area: 4/1/7/2;
    padding: 0.8em;
  }
  .card__ai-title {
    font-size: 2.6rem;
    line-height: 0.9;
  }
  .card__ai-img {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */