*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  max-height: 100%;
  margin: 3em 1.5em;
  font-family: "DM Sans", system-ui;
  font-size: 18px;
  background-color: rgb(241, 238, 238);
}

section {
  border-radius: 10px;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.cards {
  display: grid;
  row-gap: 1em;
  max-width: 350px;
}
.cards__one {
  padding: 2.5em;
  background-color: var(--purple-500);
  text-align: center;
  color: var(--white);
}
.cards__one-title {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 500;
}
.cards__one-title--color {
  color: var(--yellow-500);
}
.cards__one-title--italic {
  font-style: italic;
}
.cards__one-img {
  margin: 1em auto 0.4em;
  width: 70%;
}
.cards__one-text {
  font-weight: 300;
}
.cards__two {
  padding: 1em;
  background-color: var(--white);
  overflow: hidden;
}
.cards__two-title {
  margin-top: 0.2em;
  font-size: 2.2rem;
  font-weight: 600;
}
.cards__three {
  padding: 1em;
  padding-bottom: 0;
  background-color: var(--yellow-500);
  height: 250px;
  overflow: hidden;
}
.cards__three-title {
  font-size: 2.2rem;
  font-weight: 600;
}
.cards__three-img {
  margin-top: 1em;
  max-width: 80%;
}
.cards__four {
  padding: 1em;
  background-color: var(--purple-100);
  text-align: center;
}
.cards__four-title {
  margin-top: 0.5em;
  font-size: 2.2rem;
  font-weight: 600;
}
.cards__four-img {
  margin: 1em 0;
}
.cards__four-text {
  margin: 0 0.5em 0.5em;
}
.cards__five {
  padding: 1.5em;
  background-color: var(--purple-500);
}
.cards__five-img {
  margin: 0 auto;
  width: 80%;
}
.cards__five-title {
  margin: 1.5em 1.5em 0;
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  color: var(--white);
}
.cards__six {
  padding: 1em;
  background-color: var(--white);
}
.cards__six-title {
  font-size: 4.2rem;
  font-weight: 500;
}
.cards__six-text {
  margin: 1em 0;
  font-size: 1.7rem;
}
.cards__six-img {
  width: 50%;
}
.cards__seven {
  padding: 1.5em;
  background-color: var(--yellow-100);
}
.cards__seven-title {
  font-size: 3rem;
  font-weight: 500;
}
.cards__seven-title--color {
  font-style: italic;
  color: var(--purple-500);
}
.cards__seven-img {
  margin-top: 1.2em;
  width: 65%;
}
.cards__eight {
  padding: 1.5em;
  background-color: var(--yellow-500);
}
.cards__eight-title {
  font-weight: 600;
  line-height: 0.9;
}
.cards__eight-img {
  margin-top: 1.5em;
  width: 70%;
}

@media (min-width: 768px) {
  .cards {
    grid-template-areas: "one one" "two three" "four four" "five five" "six seven" "eight eight";
    gap: 1em;
  }
  .cards__one {
    grid-area: one;
  }
  .cards__two {
    grid-area: two;
  }
  .cards__two-img {
    max-width: 170%;
  }
  .cards__two-title {
    margin-top: 0.5em;
    font-size: 1.5rem;
  }
  .cards__three {
    position: relative;
    grid-area: three;
    height: auto;
  }
  .cards__three-title {
    font-size: 1.5rem;
  }
  .cards__three-img {
    position: absolute;
    top: 48%;
    width: 90%;
  }
  .cards__four {
    grid-area: four;
  }
  .cards__five {
    grid-area: five;
  }
  .cards__six {
    grid-area: six;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .cards__six-text {
    font-size: 1.9rem;
  }
  .cards__six-img {
    width: 100%;
  }
  .cards__seven {
    grid-area: seven;
  }
  .cards__seven-title {
    font-size: 2.2rem;
  }
  .cards__seven-img {
    width: 100%;
  }
  .cards__eight {
    grid-area: eight;
  }
  .cards__eight-img {
    width: 75%;
  }
}
@media (min-width: 992px) {
  img {
    max-width: auto;
  }
  .cards {
    max-width: 1000px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "seven one one four" "seven two three four" "eight two three four" "eight six five five";
  }
  .cards__two {
    overflow: hidden;
  }
  .cards__two-title {
    margin-right: 0.8em;
    font-size: 2.4rem;
    font-weight: 500;
  }
  .cards__two-img {
    max-width: 145%;
  }
  .cards__three-title {
    margin-right: 1em;
    font-size: 2.4rem;
    font-weight: 500;
  }
  .cards__three-img {
    top: 59%;
    width: 75%;
  }
  .cards__four {
    text-align: left;
    overflow: hidden;
  }
  .cards__four-img {
    max-width: 150%;
  }
  .cards__four-text {
    margin-right: 1em;
    font-size: 1.6rem;
  }
  .cards__five {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
  }
  .cards__five-img {
    display: inline-block;
    width: 100%;
  }
  .cards__five-title {
    align-self: center;
    margin: 0;
    margin-left: 0.3em;
    font-size: 3rem;
    font-weight: 500;
    text-align: left;
  }
  .cards__six {
    justify-content: center;
  }
  .cards__six-title {
    font-size: 5.3rem;
  }
  .cards__six-text {
    margin: 0.5em 0em 2em 0;
    font-size: 1.6rem;
  }
  .cards__six-img {
    width: 80%;
  }
  .cards__seven {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cards__seven-title {
    font-size: 3.3rem;
    line-height: 1;
  }
  .cards__eight {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
  }
  .cards__eight-title {
    margin-right: 1em;
    font-size: 2.8rem;
    font-weight: 500;
  }
  .cards__eight-img {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */