@use "./utilities/reset";
@use "./utilities/mixins" as mixins;

:root {
	--purple-100: hsl(254, 88%, 90%);
	--purple-500: hsl(256, 67%, 59%);
	--yellow-100: hsl(31, 66%, 93%);
	--yellow-500: hsl(39, 100%, 71%);
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 7%);
}

body {
	display: grid;
	place-content: center;
	min-height: 100vh;
	max-height: 100%;
	margin: 3em 1.5em;
	font-family: "DM Sans", system-ui;
	font-size: 18px;
	background-color: rgb(241, 238, 238);
}

section {
	border-radius: 10px;
}

img {
	display: block;
	max-width: 100%;
	object-fit: contain;
	object-position: center;
}

.cards {
	display: grid;
	row-gap: 1em;
	max-width: 350px;
	&__one {
		padding: 2.5em;
		background-color: var(--purple-500);
		text-align: center;
		color: var(--white);
		&-title {
			font-size: 4.5rem;
			line-height: 1;
			font-weight: 500;

			&--color {
				color: var(--yellow-500);
			}

			&--italic {
				font-style: italic;
			}
		}
		&-img {
			margin: 1em auto 0.4em;
			width: 70%;
		}
		&-text {
			font-weight: 300;
		}
	}

	&__two {
		@include mixins.padding;
		background-color: var(--white);
		overflow: hidden;
		&-title {
			margin-top: 0.2em;
			@include mixins.second-title;
		}
	}
	&__three {
		@include mixins.padding;
		padding-bottom: 0;
		background-color: var(--yellow-500);
		height: 250px;
		overflow: hidden;
		&-title {
			@include mixins.second-title;
		}
		&-img {
			margin-top: 1em;
			max-width: 80%;
		}
	}
	&__four {
		@include mixins.padding;
		background-color: var(--purple-100);
		text-align: center;
		&-title {
			margin-top: 0.5em;
			@include mixins.second-title;
		}
		&-img {
			margin: 1em 0;
		}
		&-text {
			margin: 0 0.5em 0.5em;
		}
	}
	&__five {
		@include mixins.second-padding;
		background-color: var(--purple-500);
		&-img {
			margin: 0 auto;
			width: 80%;
		}
		&-title {
			margin: 1.5em 1.5em 0;
			font-size: 2.7rem;
			font-weight: 400;
			line-height: 1;
			text-align: center;
			color: var(--white);
		}
	}
	&__six {
		@include mixins.padding;
		background-color: var(--white);
		&-title {
			font-size: 4.2rem;
			font-weight: 500;
		}
		&-text {
			margin: 1em 0;
			font-size: 1.7rem;
		}
		&-img {
			width: 50%;
		}
	}
	&__seven {
		@include mixins.second-padding;
		background-color: var(--yellow-100);
		&-title {
			font-size: 3rem;
			font-weight: 500;
			&--color {
				font-style: italic;
				color: var(--purple-500);
			}
		}
		&-img {
			margin-top: 1.2em;
			width: 65%;
		}
	}
	&__eight {
		@include mixins.second-padding;
		background-color: var(--yellow-500);
		&-title {
			font-weight: 600;
			line-height: 0.9;
		}
		&-img {
			margin-top: 1.5em;
			width: 70%;
		}
	}
}

@media (min-width: 768px) {

	.cards {
		grid-template-areas:
			"one one"
			"two three"
			"four four"
			"five five"
			"six seven"
			"eight eight";
		gap: 1em;

		&__one {
			grid-area: one;
		}
		&__two {
			grid-area: two;
			&-img {
				max-width: 170%;
			}
			&-title {
				margin-top: 0.5em;
				font-size: 1.5rem;
			}
		}
		&__three {
			position: relative;
			grid-area: three;
			height: auto;
			&-title {
				font-size: 1.5rem;
			}
			&-img {
				position: absolute;
				top: 48%;
				width: 90%;
			}
		}
		&__four {
			grid-area: four;
		}
		&__five {
			grid-area: five;
		}
		&__six {
			grid-area: six;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			&-text {
				font-size: 1.9rem;
			}
			&-img {
				width: 100%;
			}
		}
		&__seven {
			grid-area: seven;
			&-title {
				font-size: 2.2rem;
			}
			&-img {
				width: 100%;
			}
		}
		&__eight {
			grid-area: eight;
			&-img {
				width: 75%;
			}
		}
	}
}

@media (min-width: 992px) {

	img {
		max-width: auto;
	}

	.cards {
		max-width: 1000px;
		// width: 1000px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas:
			"seven one one four"
			"seven two three four"
			"eight two three four"
			"eight six five five";
		&__two {
			overflow: hidden;
			&-title {
				margin-right: 0.8em;
				font-size: 2.4rem;
				font-weight: 500;
			}
			&-img {
				max-width: 145%;
			}
		}
		&__three {
			&-title {
				margin-right: 1em;
				font-size: 2.4rem;
				font-weight: 500;
			}
			&-img {
				top: 59%;
				width: 75%;
			}
		}
		&__four {
			text-align: left;
			overflow: hidden;
			&-img {
				max-width: 150%;
			}
			&-text {
				margin-right: 1em;
				font-size: 1.6rem;
			}
		}
		&__five {
			display: grid;
			grid-template-columns: 1fr 1fr;
			padding: 1em;
			&-img {
				display: inline-block;
				width: 100%;
			}
			&-title {
				align-self: center;
				margin: 0;
				margin-left: 0.3em;
				font-size: 3rem;
				font-weight: 500;
				text-align: left;
			}
		}
		&__six {
			justify-content: center;
			&-title {
				font-size: 5.3rem;
			}
			&-text {
				margin: .5em 0em 2em 0;
				font-size: 1.6rem;
			}
			&-img {
				width: 80%;
			}
		}
		&__seven {
			display: flex;
			flex-direction: column;
			justify-content: center;
			&-title {
				font-size: 3.3rem;
				line-height: 1;
			}
		}
		&__eight {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			padding: 1em;
			&-title {
				margin-right: 1em;
				font-size: 2.8rem;
				font-weight: 500;
			}
			&-img {
				width: 100%;
			}
		}
	}
}
